@namespace Components
@inject AppState AppState
@functions{
    [CascadingParameter(Name = "ViewModel")] protected VSShortcutsViewModel model { get; set; }
}

<div class="key @Classes @(KeyVM.IsPressed ? "pressed" : "") @(KeyVM.IsAvailable ? "available" : "")" @onclick="@(() => KeyPress(KeyVM))">
    @((MarkupString)KeyVM.KeyFriendly)
</div>

@code {

    [Parameter]
    public BlazingShortcuts.Models.KeyboardKeyModel KeyVM { get; set; }

    [Parameter]
    public string Classes { get; set; }

    public async Task KeyPress(BlazingShortcuts.Models.KeyboardKeyModel key)
    {
        key.Press();

        if (key.Key == Key.Escape)
        {
            model.Shortcut.Reset();
            model.Keyboard.ResetAvailable();
            model.Keyboard.ResetPressed();
        }

        if (key.Key == Key.Ctrl)
        {
            model.Shortcut.IsCtrlDown = !model.Shortcut.IsCtrlDown;
            model.Shortcut.ShortcutKeys[model.Shortcut.current].Control = true;
        }
        else if (key.Key == Key.Alt)
        {
            model.Shortcut.IsAltDown = !model.Shortcut.IsAltDown;
            model.Shortcut.ShortcutKeys[model.Shortcut.current].Alt = true;

        }
        else if (key.Key == Key.Shift)
        {
            model.Shortcut.IsShiftDown = !model.Shortcut.IsShiftDown;
            model.Shortcut.ShortcutKeys[model.Shortcut.current].Shift = true;

        }
        else
        {
            model.Shortcut.ShortcutKeys[model.Shortcut.current].Key = key.Key.ToString().ToUpper();

            model.Shortcut.currentState = !model.Shortcut.currentState;

            model.Shortcut.IsCtrlDown = false;
            model.Shortcut.IsAltDown = false;
            model.Shortcut.IsShiftDown = false;

        }

        await model.UpdateViewModel(model.Shortcut);
        this.StateHasChanged();
        AppState.IsSearching(true);
    }
}
