@namespace Components
@inject AppState AppState
@functions{
    [CascadingParameter(Name = "ViewModel")] protected VSShortcutsViewModel model { get; set; }
}

<div class="key @Classes @(KeyVM.IsPressed ? "pressed" : "") @(KeyVM.IsAvailable ? "available" : "")" @onclick="@(() => KeyPress(KeyVM))">
    @((MarkupString)KeyVM.KeyFriendly)
</div>

@code {

    [Parameter]
    public BlazingShortcuts.Models.KeyboardKeyModel KeyVM { get; set; }

    [Parameter]
    public string Classes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model.Keyboard.ResetAvailable();
        model.Keyboard.ResetPressed();
    }

    public async Task KeyPress(BlazingShortcuts.Models.KeyboardKeyModel key)
    {
        if (key.Key == Key.Escape)
        {
            await ClearKeys();
            return;
        }

        if (model.Shortcut.IsFull)
            model.Shortcut.Reset();

        if (key.Key == Key.Ctrl)
            model.Shortcut.ShortcutKeys[model.Shortcut.current].Control = model.Shortcut.IsCtrlDown = !model.Shortcut.IsCtrlDown;
        else if (key.Key == Key.Alt)
            model.Shortcut.ShortcutKeys[model.Shortcut.current].Alt = model.Shortcut.IsAltDown = !model.Shortcut.IsAltDown;
        else if (key.Key == Key.Shift)
            model.Shortcut.ShortcutKeys[model.Shortcut.current].Shift = model.Shortcut.IsShiftDown = !model.Shortcut.IsShiftDown;
        else
        {
            model.Shortcut.ShortcutKeys[model.Shortcut.current].Key = key.Key.ToString().ToUpper();

            model.Shortcut.currentState = !model.Shortcut.currentState;

            model.Shortcut.IsCtrlDown = false;
            model.Shortcut.IsAltDown = false;
            model.Shortcut.IsShiftDown = false;

        }

        await model.UpdateViewModel(model.Shortcut);

        key.Press();

        AppState.IsSearching(true);

        this.StateHasChanged();
    }

    private async Task ClearKeys()
    {
        model.Shortcut.currentState = false;

        model.Shortcut.Reset();
        model.Keyboard.ResetAvailable();
        model.Keyboard.ResetPressed();

        AppState.IsSearching(false);
        await model.UpdateViewModel(model.Shortcut);
        this.StateHasChanged();

    }
}
