@page "/"

@functions{
    [CascadingParameter(Name = "ViewModel")] protected BindingsViewModel bindings { get; set; }
}

    <div>
        <div>Download [this] extension to export your shortcuts from visual studio</div>
        <div>Jesse is awesome</div>
        <br />
        <br />

        <FileUpload />
    </div>