@page "/"
@implements IDisposable
@inject AppState AppState
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<CascadingValue Value="@model" Name="ViewModel">

    <div class="main container-fluid overflow-hidden vh-100 @(AppState.Theme ? "dark" : "light")">
        <div>
            <Navbar />
        </div>
        <div class="row">

            @if (!AppState.Fullscreen)
            {
                <div class="col-12 col-lg-6">

                    <div class="d-flex flex-column justify-content-between">
                        <div>
                            <KeyEvents />
                        </div>
                        <div>
                            <KeyboardMap />
                        </div>
                    </div>

                </div>
            }

            <div class="col-12 @(AppState.Fullscreen ? "col-lg-12" : "col-lg-6") flex-transition">
                <div class="vh-100 overflow-scroll">
                    <MainPanel />
                </div>
            </div>

        </div>
    </div>

</CascadingValue>

@code {

    public BindingsViewModel model = new BindingsViewModel();

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}

<style>
    .overflow-scroll {
        overflow-y: auto;
    }
</style>