@inject AppState AppState
@functions{
    [CascadingParameter(Name = "ViewModel")] protected VSShortcutsViewModel model { get; set; }
}

<div class="content-main">
    <div class="keyboard">

        <div class="section-a">
            <div class="function-keys">

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Escape]" Classes="function space1" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F1]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F2]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F3]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F4]" Classes="function space2" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F5]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F6]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F7]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F8]" Classes="function space2" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F9]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F10]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F11]" Classes="function" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F12]" Classes="function" />

            </div>

            <div>

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Backtick]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num1]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num2]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num3]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num4]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num5]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num6]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num7]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num8]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num9]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Num0]" Classes="num" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Minus]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Equals]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Backspace]" Classes="backspace" />

            </div>

            <div>

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Tab]" Classes="tab" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Q]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.W]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.E]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.R]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.T]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Y]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.U]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.I]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.O]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.P]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.SquareOpen]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.SquareClose]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Backslash]" Classes="" />

            </div>

            <div>

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Caps]" Classes="caps" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.A]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.S]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.D]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.F]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.G]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.H]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.J]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.K]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.L]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Semicolon]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Apostrophe]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Enter]" Classes="enter" />

            </div>

            <div>

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Shift]" Classes="shift" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Z]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.X]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.C]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.V]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.B]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.N]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.M]" Classes="letter" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Comma]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Fullstop]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Slash]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Shift]" Classes="shift" />

            </div>

            <div>

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Ctrl]" Classes="ctrl" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Win]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Alt]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Space]" Classes="space" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Alt]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Win]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Func]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Ctrl]" Classes="ctrl" />

            </div>
        </div>

        <div class="section-b">
            <div class="utility-1">

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.PrintScreen]" Classes="utility" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.ScrollLock]" Classes="utility" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.PauseBreak]" Classes="utility" />

            </div>

            <div class="utility-2">

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Insert]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Home]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.PageUp]" Classes="" />

            </div>

            <div class="social-distance">

                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Delete]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.End]" Classes="" />
                <KeyboardKey KeyVM="model.Keyboard.Keys[Key.PageDown]" Classes="" />

            </div>

            <div class="arrows">
                <div>

                    <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Hidden]" Classes="hidden" />
                    <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Up]" Classes="" />
                    <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Hidden]" Classes="hidden" />

                </div>
                <div>

                    <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Left]" Classes="" />
                    <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Down]" Classes="" />
                    <KeyboardKey KeyVM="model.Keyboard.Keys[Key.Right]" Classes="" />

                </div>

            </div>

        </div>
    </div>
</div>

<br />
<br />