@functions{
    [CascadingParameter(Name = "ViewModel")] protected BindingsViewModel model { get; set; }
}

<div>
    <br />
    <div>
        <h3>
            Install <a href="https://marketplace.visualstudio.com/items?itemName=MadsKristensen.KeyboardShortcutExporter">Keyboard Shortcut Exporter</a> to export your shortcuts from Visual Studio
        </h3>
    </div>
    <div>inspired by <a href="http://visualstudioshortcuts.com/2017/">Visual Studio Shortcuts</a> and updated for 2019</div>
    <div>decided to learn and use Blazor for this site as using C# for the front end sounds great and has been easy and useful so far.</div>
    <br />
    <div><small>this site wont be a good experience on mobile</small></div>
    <br />
    <br />

    <h4>plans</h4>
    <ul>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> CI/CD pipeline</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Import shortcuts from VS</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Dark theme 😎</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Persist data using localstorage</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Chill 250m underground in the permafront of an arctic mountain</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Configure which shortcuts are useful</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Selection of default VS environments</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Print friendly display of useful shortcuts</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Filter list with your keyboard</li>
        <li><input type="checkbox" readonly="readonly" checked="checked" /> Live keyboard map to explore shortcuts</li>
        <li><input type="checkbox" readonly="readonly" /> Edit and export to VS</li>
    </ul>

    <div><small>made with &lt;3 by <a href="https://github.com/JesseHolwell/">Jesse</a></small></div>
</div>

<div>

    <br />

    <FileUpload />

    <br />

</div>