@functions{
    [CascadingParameter(Name = "ViewModel")] protected BindingsViewModel model { get; set; }
}

<div class="text-center">
    <div>
        <h2>Ctrl + E, Ctrl + D</h2>
    </div>
    <div>
        <input />
    </div>
</div>

