@media print {
    .btn {
        display: none;
    }

    .navbar {
        display: none;
    }

    .droptarget {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .key-hidden {
        display: none
    }

    .no-print, .no-print * {
        display: none !important;
    }
}
