@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        /*background-color: rgb(25 34 82);*/
        /*        background-color: #f7f7f7;*/
        /*border-bottom: 1px solid #d6d5d5;
        justify-content: space-between;*/
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.container-fluid {
    padding: 0;
}

.flex-transition {
    transition: flex 2s;
}

.content-sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.content-main {
    flex: 1;
}

.sidebar {
    /*    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: rgb(5, 39, 103);
}

    .sidebar .top-row {
        /*        background-color: rgba(0,0,0,0.4);*/
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
    display: flex;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-buttons {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.droptarget {
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px dashed black;
    border-radius: 5px;
}

.droptarget-drag {
    border-color: orangered;
}

.content-sidebar .nav.flex-column {
    padding: 5px;
}

.content-sidebar .nav-item {
    color: #d7d7d7;
    border-radius: 4px;
    height: 2rem;
    display: flex;
    align-items: center;
    line-height: 2rem;
    background-color: rgba(255,255,255,0.1)
}

    .content-sidebar .nav-item.active {
        background-color: rgba(255,255,255,0.25)
    }

.key-group {
    border-radius: 4px;
    background-color: rgba(255,255,255,0.1);
    padding: 5px;
}

.content-sidebar {
    border-radius: 4px;
}

.content-main {
    display: flex;
    flex-direction: column;
}

.headerish {
    width: 100%;
    text-align: right;
}

.stone-wall-2 {
    column-count: 2;
}

.stone-wall-4 {
    column-count: 4;
}

.stone {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
}

.mx-2rem {
    margin-left: 2rem;
    margin-right: 2rem;
}

.overflow-scroll {
    overflow-y: auto;
}

/*.stone {
    position: relative;
    border: 4px solid #f5f3f3;*/
/*background: #fff;*/
/*min-height: 288px;
    width: 100%;
    margin-bottom: .8px;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
}

    .stone .stone-head {
        position: relative;
        min-height: 75px;
        height: 5vh;
        overflow: hidden;
        padding: 0;*/
/*background: rgba(51,102,153,.15);*/
/*border: 6px solid #fff;
    }

    .stone .stone-body {
        padding: 15px;
        margin: 15px;
    }*/

.header-navbar {
    background-color: rgb(25, 34, 82);
    border-bottom: 1px solid #d6d5d5;
    height: 55px;
}

#key-events {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.flex-transition {
    transition: flex linear 1s;
    max-width: none;
    /*transition: max-width linear 1s;*/
}

.col-lg-0 {
    flex: 0;
}

#left-panel, #right-panel {
    max-width: 50vw;
    min-width: 50vw;
}

.viewport-toggle {
    position: relative;
    top: 45%;
    height: 0;
}

#left-parent {
    padding: 0;
}

#right-parent {
    padding: 0;
    direction: rtl;
}

#left-panel {
    padding-left: 30px;
    padding-bottom: 15px;
}

#right-panel {
    padding-right: 15px;
}

.direction-ltr {
    direction: ltr;
}

.keyboard {
    width: 100%;
    /*        height: 320px;*/
    background-color: #111;
    margin: 0px auto;
    border-radius: 9px;
    padding: 30px;
    color: #eee;
    display: inline-flex;
}

    .keyboard .section-a {
        width: 80%;
        margin-right: 5%;
    }

    .keyboard .section-b {
        width: 20%;
    }

    .keyboard .key {
        width: 7%;
        /*        height: 48px;*/
        height: 2.5vw;
        background-color: #333;
        border-radius: 4px;
        cursor: pointer;
        transition: box-shadow 0.7s ease;
        float: left;
        background-clip: content-box;
        padding: 2px;
        font-size: 0.8rem;
        text-align: center;
    }

    .keyboard .section-b .key {
        width: 33%;
    }



    .keyboard .backspace.key, .tab.key {
        width: 9%;
    }

    .keyboard .caps.key {
        width: 10%;
    }

    .keyboard .enter.key {
        width: 13%;
    }

    .keyboard .shift.key {
        width: 15%;
    }

    .keyboard .space.key {
        width: 51%;
    }

    .keyboard .space1 {
        margin-right: 5%;
    }

    .keyboard .space2 {
        margin-right: 2%;
    }

    .keyboard .function {
        margin-bottom: 5px;
    }

    .keyboard .utility-1 .utility {
        margin-bottom: 5px;
    }

    .keyboard .social-distance .key {
        margin-bottom: 48px;
    }

    .keyboard .hidden.key {
        visibility: hidden;
    }

    /*pressed*/
    .keyboard .pressed {
        background-color: purple;
    }

    /*available*/
    .keyboard .available {
        /*        box-shadow: green, 5px, 5px;*/
        color: darkorange;
    }







@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        /*        display: none;*/
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }

    .navbar-buttons .btn {
        width: 100%;
        margin-top: 10px;
    }

    .stone-wall-2,
    .stone-wall-4 {
        column-count: 1;
    }

    .keyboard {
        padding: 5px;
        border-radius: 0;
    }

        .keyboard .section-a {
            margin-right: 3%;
        }

        .keyboard .key {
            /*height: 30px;*/
            height: 5vw;
            font-size: 0.5rem;
        }

        .keyboard .social-distance .key {
            margin-bottom: 30px;
        }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        /*        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;*/
    }

    .content-sidebar {
        width: 300px;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    /*    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }*/

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
